<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Google Logger: Login</title>
</head>
<body>
<h1>Login</h1>
<P>This <strong>Google Logger</strong> supports very simple Google SpreadSheet manipulation.<br/>
You can record simple data into Google SpreadSheet. The main objective is sending/receiving data from PC. Particularly Arduino+Processing.</p>
<p>Before using this system, please make an account on Google (not needed Google+, now)<br/>
And for your identification, we need to keep your account status.</p>
<p>Thank you for your understading.</p>
<p><br/></p>
<p align="center"><a href="./getcode.php">Login the system.</a></p>
</body>
</html>