<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Google Logger:ログイン</title>
</head>
<body>
<h1>ログイン</h1>
<P>この[Google Logger]システムを使うとはパソコンやArduinoからあがってきたデータをGoogleスプレッドシート上に記録することができます。</p>
<p>Googleスプレッドシートに記録する以上、Googleアカウントでログオンしていただく必要があります。<br/>
また、どなたがお使いになっているか、システムの状態を把握するためマインド・クラフトではお客様のGoogleアカウントにおける名前とメールアドレスは記録させていただいています。メールアドレスは、データを登録する際にあなたを識別するためにも使われます。</p>
<p>以上をご理解いただいた上で、以下からログインに進んでください。</p>
<p><br/></p>
<p align="center"><a href="./getcode.php">Googleアカウントでログインします。</a></p>
</body>
</html>